---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  bulletnotes_db:
    image: mongo:3.2.21
    networks:
      - traefik_network
    restart: unless-stopped
    command: mongod --smallfiles --oplogSize 128
    expose:
      - 27017
    volumes:
      - ./data/bulletnotes-db:/data/db
      - ./data/bulletnotes-db-dump:/dump

  bulletnotes:
    image: nickbusey/bulletnotes
    networks:
      - traefik_network
    command: meteor --allow-superuser run
    working_dir: /BulletNotes
    links:
      - bulletnotes_db
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://bulletnotes_db:27017/bulletnotes
      - ROOT_URL=http://bulletnotes.{{ domain }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:bulletnotes.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=3000"
      - "traefik.tor.frontend.rule=Host:bulletnotes.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"