---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Personal Relationship Database
  monicahq:
    image: monicahq/monicahq
    networks:
      - traefik_network
    restart: unless-stopped
    links:
      - monicahq_db
    ports:
      - 8176:80
    volumes:
      - /var/homelabos/monicahq/storage/app/public:/var/www/monica/storage/app/public
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:monicahq.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.tor.frontend.rule=Host:monicahq.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
    env_file:
      - /var/homelabos/monicahq/monicahq.env

  monicahq_db:
    image: mariadb
    networks:
      - traefik_network
    restart: unless-stopped
    env_file:
      - /var/homelabos/monicahq/monicahq.env
    volumes:
      - /var/homelabos/monicahq/mysql:/var/lib/mysql